@import './utils';

/* AppLayout */
.applayout {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;

    .applayout-header {
        background-color: white;
        height: 4rem;
        color: white;
        padding: 0 20px;
        border-bottom: solid 2px $grey-color;

        img { // main-logo
            width: 7rem;
        }

        /* Navigation */
        .applayout-nav {
            display: inline;
            color: black;
            border-bottom: solid 0.05rem black;

            .applayout-nav-right-div {
                float: right;
                padding: 0.1rem 0.3rem 0;
    
                .applayout-nav-right-div-a {
                    font-size: 0.8rem;
                    color: black;
                    background-color: white;
                    border: solid $grey-color 2px;
                    padding: 0.5rem 0.8rem;
                }
                
                .applayout-nav-right-div-a:hover {
                    color: black;
                }
            }
            
            .applayout-nav-left-div {
                float: right;
                height: 2rem;
                padding: 0.1rem 0.3rem 0;
    
                .applayout-nav-left-div-a {
                    font-size: 0.8rem;
                    color: white;
                    background-color: $point-color;
                    padding: 0.5rem 0.8rem;
                }
                
                .applayout-nav-left-div-a:hover {
                    color: white;
                }
            }
        }
    }

    .applayout-content {
        background-color: white;
    }

    .applayout-footer {
        color: #d3d3d3;
        font-weight: bold;
        text-align: center;
        background-color: white;
        padding: 3rem 10px;

        a {
            color: inherit;
        }
    }
}

/* index home - ant tabs nav bar */
.ant-tabs-nav-list {
    padding: 0 20px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn, .ant-tabs-tab:hover {
    color: $point-color;
}

.ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
}

/* Index home */
.home-realtime-top-posts-div {
    padding: 0.5rem 1.5rem;
    .title-div {
        margin-bottom: 1rem;
        .title-span {
            background-color: $point-color;
            color: white;
            padding: 0.3rem 0.7rem;
        }
    }

    .each-realtime-post-row {
        padding: 0.3rem 0;
        border-bottom: $grey-color 0.15rem solid;

        .each-realtime-post-number {
            background-color: $point-color;
            padding: 0.15rem 0.3rem;
            color: white;
        }
        .each-realtime-post-category {
            color: grey;
        }
        .each-realtime-post-title {
            color: black;
            font-size: 1rem;
        }
        .each-realtime-post-mbti {
            color: white;
            padding: 0 0.3rem;
        }
        .each-realtime-post-comments {
            color: black;
        }
    }
    .new-posts-more-div {
        text-align: center;
        width: 10rem;
        margin: 0.5rem auto;
        color: grey;
        cursor: pointer;
        vertical-align: middle;
    }
}
.home-notice-rolling-banner {
    margin-left: 1.5rem;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    button {
        margin: 0.7rem 0;
        background-color: white;
        border: 0.1rem solid grey;
        font-weight: bold;
        width: 5rem;
    }

    p {
        color: black;
        margin: 1rem 0;
    }
}
.home-category-new-posts-main-div {
    h1 {
        font-weight: bold;
    }

    .new-posts-category-div {
        padding: 1.2rem 1.5rem 0;
        border-bottom: $grey-color 0.5rem solid;

        .new-posts-post-row, .no-posts-row {
            border-bottom: $grey-color 0.15rem solid;
            padding: 0.3rem 0;

            .new-posts-title-span {
                color: black;
                padding: 0 0.3rem;
            }
    
            .new-posts-mbti-span {
                color: white;
                padding: 0 0.3rem;
            }
    
            .new-posts-date-col, .new-posts-nickname-span {
                color: grey;
                text-align: right;
            }
        }
    
        .new-posts-more-div {
            text-align: center;
            width: 10rem;
            margin: 0.5rem auto;
            color: grey;
            cursor: pointer;
            vertical-align: middle;
        }
    }
}

/* Category Main page */
.category-main-title-info-div {
    padding: 1.5rem;

    h1 {
        font-weight: bold;
    }

    span {
        background-color: $point-color;
        color: white;
        padding: 0 0.3rem;
    }
}

.category-new-15-posts-div, .category-realtime-top5-posts-div {
    padding: 1.5rem;

    .new-15-each-post-row, .top5-posts-row {
        padding: 0.3rem 0;
        border-bottom: $grey-color 0.15rem solid;
        color: black;
        font-size: 0.9rem;

        .new-15-each-post-title-row-mbti, .top5-posts-mbti {
            color: white;
            padding: 0 0.3rem;
        }

        .new-15-each-post-info-row, .top5-posts-info-row {
            font-size: 0.7rem;
            color: grey;
        }
        .top5-posts-comments {
            color: $point-color;
            font-weight: bold;
        }
    }
}

.category-realtime-top5-posts-div {
    background-color: $grey-color;

    .top5-posts-row {
        border-bottom: 0.1rem solid rgba(169, 169, 169, .5);
    }
}

/* TOP 100 */
.top100-posts-main-div {
    
    .top3-main-div, .top-rest-main-div {
        padding: 1.5rem;
        background-color: $grey-color;

        .top3-main-row, .rest-main-row {
            padding: 0.5rem 0;
            border-bottom: 0.1rem solid rgba(169, 169, 169, .5);

            .rest-index-col {
                text-align: center;
                padding-top: 0.5rem;

                .rest-index-span {
                    font-size: 1rem;
                    background-color: $point-color;
                    padding: 0.35rem 0.5rem;
                    color: white;
                }
            }


            .top3-title-span, .rest-title-span {
                color: black;
            }
            .top3-mbti-span, .rest-mbti-span {
                color: white;
                padding: 0 0.3rem;
            }

            .top3-info-row, .rest-info-row {
                font-size: 0.7rem;
                color: grey;
            }
            .top3-right-row, .rest-right-row {
                font-size: 0.8rem;
                color: $point-color;
            }
        }
    }

    .top-rest-main-div {
        background-color: white;
    }
}

/* Signup */
.signup-div {
    background-color: white;
    text-align: center;
    font-weight: bold;

    .signup-header {
        img { // main-logo
            width: 15rem;
            margin: 2rem auto 1rem;
        }
    }

    .signup-form {
        padding: 0 16px 3rem;
        max-width: 30rem;
        margin: 0 auto;

        .sign-up-error-message-div {
            margin: 0 auto 1rem;
            color: red;
            text-align: left;
        }

        .signup-user-mbti-button {
            width: 100%;
            letter-spacing: 7px;
        }
    }

    div {
        .signup-form-button {
            text-align: center;
            margin-top: 1rem;
            background-color: $point-color;
            color: white;
            width: 100%;
            max-width: 30rem;
            height: 3rem;
            font-size: 1.2rem;
            letter-spacing: 20px;
            text-indent: 10px;
            font-weight: bold;
        }
    }
}

/* Upload Editor */
.upload-main-div {
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;

    img {
        width: 100%;
        max-width: 40rem;
    }

    .upload-title-input {
        height: 3rem;
        margin-top: 1rem;
    }

    .upload-category-select, .upload-subCategory-select {
        width: 50%;
    }

    .upload-editor-quill {
        max-width: 50rem;
        margin: 0 auto;
        width: 100%;
        border-bottom: none;
    }

    .ql-container.ql-snow {
        border: none;
        height: 30rem;
    }

    button {
        height: 3rem;
        width: 100%;
        cursor: pointer;
    }
}

/* Post Contents */
.post-contents-main-div {
    padding: 1.5rem;
    .post-title-header-main-row {
        p {
            margin: 0.3rem 0;
        }
        .post-title-p {
            font-size: 1.2rem;
            font-weight: bolder;
        }
        .post-basic-info-row {
            position: absolute;
            bottom: 0;
            font-size: 0.7rem;
            color: grey;
            p {
                margin-right: 1rem;
                .post-like-btn-span {
                    cursor: pointer;
                }
            }
        }
        .post-edit-btn-span {
            border: grey solid 0.15rem;
            padding: 0.15rem 0.3rem;
            cursor: pointer;
            margin-right: 0.5rem;
        }  
        .post-report-btn-span, .post-delete-btn-span {
            color: $red-color;
            border: $red-color solid 0.15rem;
            padding: 0.15rem 0.3rem;
            cursor: pointer;
        }
        .post-user-nickname-span {
            cursor: pointer;
        }
        .post-user-mbti-span {
            color: white;
            padding: 0 0.3rem;
            margin-left: 0.2rem;
        }
        .post-title-header-user {
            font-size: 1rem;
            color: grey;
        }
    }
    
    
    .post-contents-div {
        margin-bottom: 85px;
        img {
            width: 100%;
            max-width: 35rem;
            display: block;
            // margin: 0 auto;
        }
    }
    .post-contents-bottom-div {
        text-align: center;

        button {
            margin-right: 0.5rem;
            color: grey;
        }
        .post-contents-bottom-liked {
            color: white;
        }
    }

    .post-comment-submit-button {
        width: 100%;
        max-width: 5rem;
        margin: 0 auto;;
    }

    .post-comment-form-comment {
        color: #cecece;
        font-size: 0.7rem;
    }
}

/* Profile */
.profile-basic-info-main-row {
    padding: 1.5rem;
    padding-bottom: 0;

    .info-span {
        color: grey;
        .nickname-span {
            font-size: 1.2rem;
        }
        .mbti-span {
            color: white;
            padding: 0 0.3rem;
        }
    }

    .edit-btn {
        color: black;
        margin: 1rem 0 0 0;
    }

    .follow-btn {
        margin: 1rem 0 0;
    }

    .follower-span {
        text-align: center;
        padding: 0 0.65rem;
        border-right: $grey-color solid 0.1rem;
    }
    .following-span {
        text-align: center;
        padding: 0 0.65rem;
        border-left: $grey-color solid 0.1rem;
    }

    .logout-btn {
        margin: 1.5rem 0 0 0;
    }
}

.profile-description-main-row {
    padding: 1.5rem;
    padding-bottom: 0;

    .icon-row {
        text-align: center;
        color: $point-color;

        .description-icon {
            font-size: 1.7rem;
        }
    }

    .description-p {
        padding: 0 0.5rem;
    }

    .edit-row {
        text-align: center;
        color: grey;

        .edit-icon {
            font-size: 1.2rem;
        }
    }
}

.profile-my-post-main-div {
    padding: 0 1.5rem 0;

    .profile-my-post-main-row {
        cursor: pointer;
        border-bottom: $grey-color solid 0.1rem;
        padding: 0.5rem 0;

        .my-post-mbti-span {
            color: white;
            padding: 0 0.3rem;
            margin-left: 0.2rem;
        }

        .my-post-info-row {
            font-size: 0.7rem;
            color: grey;
        }

        .my-post-right-info-row {
            color: grey;
            font-size: 0.8rem;
        }
    }
}

/* Terms */
.terms-main-div {
    padding: 1.5rem;
}

/* 404 */
.main-404-div {
    width: 15rem;
    margin: 10rem auto;
    text-align: center;

    button {
        margin: 1rem auto;
        height: 5rem;
        width: 13rem;
        font-size: 1rem;
    }
}

@include mobile {
    .post-title-header-alert {
        span {
            display: inline-block;
            margin: 0.1rem;
            padding: 0 0;
        }
    }
}


@include desktop {
    .new-posts-post-row, .no-posts-row {
        padding: 0.5rem 0;
    }
}